@charset "utf-8";
/* CSS Document */

.leftuser{
	height:50px;
	background-color:#E6ECF0;
}
.userDetails{
box-shadow: 0px 5px 10px #999999; 
}
.leftusername{
	line-height:70px;
	margin-left:15px;
	font-size:15px;
	font-weight:bold;
	color:#000;
}

.leftuserid{
	color:#000;
	font-weight:300;
}

.totalPost{
background-color:#FFF;
padding-top:10px;
padding-left:20px;
height: 60px;
}

.left{
	padding-left:30px;
}
.right{
	padding-right:60px;
}
.leftlable{
	color:#7D7786;
	font-size:12px;
	font-weight:600;
}
.score{
	font-size:20px;
	font-weight:bold;
	color:#000;
}