@charset "utf-8";
/* CSS Document */

body{
background-color:#E6ECF0;
font-family: 'Roboto', sans-serif;
}

.title{
font-family: 'Pacifico', cursive;
font-size:2em;
}

.shadow{
	box-shadow: 0px 10px 10px #999;
	min-height:45px;
	}

textarea.expandable {
  height:40px;
  border:1.5px solid #CCC;
  resize:none;
  -webkit-transition: all 0.3s ease-in-out;
}

textarea.expandable:focus {
  height:calc(100% - 5px);   
    border:1.5px solid #CCC;   
  -webkit-transition: all 0.3s ease-in-out;
}
      
.panel-200:hover, .panel-200 {
  height:200px;    
}

textarea.expandable + textarea.expandable:hover, textarea.expandable + textarea.expandable:focus {
  height:calc(100% - 90px)	
}

.postBtn{
float:right;
margin-top:5px;
}

.name{
font-weight:bolder;
}

.username{
	color: gray;
}

.space{
	margin-bottom:60px;
}

.main{
box-shadow: 0px 3px 20px #999999;
}

.main a{
	margin-left: 15px;
	text-decoration:none;
	color:#999;
}

.main a:hover{
	color:#333;
}

.about{
font-size:12px;
}

.adv{
font-size:12px;
text-decoration:none;
color: #333;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 25px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 10px;
    margin-top: 5px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 20px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 15px;
    left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 4px;
    transition: all 0.3s ease-in-out;
    width: 15px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 10px;
}
